# LangChain
langchain
langchain-community
langchain-openai
langchain-text-splitters

# Embeddings
sentence-transformers

# Vector Store
faiss-cpu

# PDF Processing
pymupdf
docling

# Environment variables
python-dotenv

# OpenAI
openai

#langchain-huggingface
langchain-huggingface

# BM25
rank-bm25

#sentence transformers
sentence-transformers

#langchain ollama
langchain-ollama
